div#frontPage
	- if (data != "error")
		- data.forEach(function (i,o) {
			div#frontPage.newsItem(onclick="MHN.getStory('#{i.url}'); MHN.currentArticleId=#{i.id}; _gaq.push(['_trackEvent', 'Stories', 'Read', '#{i.title}']);")
				div.postTitle
					strong #{i.title}
				div.meta
					div.info 
						\ #{i.points} Points & #{i.commentCount} Comments
						br
						\ Posted #{i.postedAgo} by #{i.postedBy}
						br
						\ From
						span(class="host_#{o}")
				script
					var node = "host_#{o}";
					var url = "#{i.url}";
					var pathArray = url.split( '/' );
					var host = pathArray[2];
					$("." + node).html(host);
		- });
	- else
		div#frontPage.newsItem
			div.postTitle
				strong Sorry, there was an error when trying to fetch data from the iHackerNews API. 
				a(href="javascript: window.location.reload();") Refreshing the page
				\ usually works ;)
div#story